.#{$yg-namespace}create-shop {
	.user-info-box {
		position: relative;
		padding-top: 10px;
		height: 150px;
		background-color: $c-white-0;
		.user-photo {
			position: relative;
			margin: 10px auto 0;
			width: 95px;
			height: 95px;
			overflow: hidden;
			border: 3px solid $c-gray-4;
			@include border-radius();
			img {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		.edit-box {
			position: relative;
			margin: -95px auto 0;
			width: 95px;
			height: 95px;
			.edit-block {
				display: block;
				position: absolute;
				right: -5px;
				bottom: -7px;
				width: 34px;
				height: 34px;
				line-height: 32px;
				text-align: center;
				border: 2px solid $c-gray-4;
				@include border-radius();
				background-color: $c-white-0;
				.iconfont {
					padding: 6px 7px;
					color: $c-gray-3;
				}
			}
		}
	}
}