.#{$yg-namespace}login{
    .mui-content-padded{
//      margin: 0 40px;
    }
    .error-msg{
        padding: 15px 0;
        color: $c-red-0;
    }
    .protocol-info{
        padding: 22px 0;
    }
    input{
        
    }
}
