.#{$yg-namespace}my-fenxiaoshang {
    .fxs-title-color {
        background-color: $c-gray-10;
    }
    .fxs-title {}
    .fxs-title:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 1px;
        background-color: #c8c7cc;
        content: '';
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
    .fxs-f-color {
        color: $c-gray-1;
    }
    .fxs-photo {
        display: block;
        width: 80px;
        height: 80px;
        overflow: hidden;
        line-height: 80px;
        border-radius: 40px;
    }
    .fxs-lh80 {
        line-height: 80px;
    }
    .fxs-ul-afternone:after {
        display: none;
    }
    .fxs-colum-afterdiaplay {
        display: block;
    }
}