.#{$yg-namespace}add-address{
    .mui-input-row{
        select{
            font-size:1.4rem;
        }
        .mui-btn{
            float: none;
            width: 65%;
            font-size:1.4rem;
        }
    }
}
