.#{$yg-namespace}shared{
    padding-top: 40px;
    padding-right: 70px;
    text-align: right;
    background: url(../images/click-here.png) calc(100% - 15px) 0 no-repeat;
    background-size: 50px;
    color: $c-white-0;

}
