.#{$yg-namespace}slide-in{
    @include animate($param: bottom, $in: 0.08s, $out: 0s, $aimate: linear );
//  display: none;
//  visibility: hidden;
    width: 100%;
    border:none;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    .cont-title{
        position: fixed;
        margin-top: -20px;
        width: 100%;
        text-align: center;
        background-color: $c-white-0;
        z-index: 10;
    }
    .layermcont{
        height: 350px; 
        height: -webkit-calc(100% - 50px);
        height: calc(100% - 50px); 
        max-height: 350px;
        overflow-y: scroll;
    }
    .layermbtn{
        bottom: -1px;
        height: 50px;
        line-height: 50px;
        span:first-child{
            height: 50px !important;
            border-radius: 0;
        }
    }
    &.none-height{
        .layermcont{
            height: auto;
            overflow: auto;
        }
    }
    
//  &.layer-h400{
//      .layermcont{
//          height: 400px !important;
//      }
//  }
    &.layer-h350{
        .layermcont{
            height: 350px !important;
        }
    }
    &.layer-h300{
        .layermcont{
            height: 300px !important;
        }
    }
    &.layer-h250{
        .layermcont{
            height: 250px !important;
        }
    }
    
    &.layer-h200{
        .layermcont{
            height: 200px !important;
        }
    }
}
