@charset "utf-8";

/*字体大小*/
.f12{
	font-size: 1.2rem !important;
}
.f13{
	font-size: 1.3rem !important;
}
.f14{
	font-size: 1.4rem !important;
}
.f16{
	font-size: 1.6rem !important;
}
.f18{
	font-size: 1.8rem !important;
}
.f20{
	font-size: 2.0rem !important;
}
.f24{
    font-size: 2.4rem !important;
}
.f28{
    font-size: 2.8rem !important;
}
.f36{
	font-size: 3.6rem !important;
}
.f40{
	font-size: 4rem !important;
}

/*行高*/
.lh-1{
	line-height: 1;
}
.lh-12p{
	line-height: 1.2;
}
.lh-33{
	line-height: 33px;
}
.lh-44{
	line-height: 44px;
}

/*颜色*/
.Red{
    color:$c-red-0 !important;
}
.Blue{
	color: $c-blue-0 !important;
}
.Blue2{
	color: $c-blue-1 !important;
}
.Yellow{
	color: $c-yellow-0 !important;
}
.Green{
	color: $c-green-0 !important;
}
.Gray{
	color: $c-gray-1 !important;
}
.Pink{
	color: $c-pink-0 !important;
}
.Black{
	color: $c-black-0 !important;
}
.White{
    color: $c-white-0 !important;
}

/*背景色*/
.bg-white{
	background-color: $c-white-0 !important;
}
.bg-gray{
    background-color: $c-gray-10 !important;
}

/*边框*/
.no-border{
	border: 0 !important;
}
.no-border-top{
	border-top: 0 !important;
}
.no-border-bottom{
	border-bottom: 0 !important;
}
.bd-gray{
    border: 1px solid $c-gray-8;padding: 0 2px;
    }
.bd-top-gray{
	border-top: 1px solid $c-gray-8;
}
.border-top{
    border-top:1px solid $c-gray-2;
}
.border-bottom{
    border-bottom:1px solid $c-gray-8;
}
.border-bottom1{
    border-bottom:1px solid $c-gray-4;
}
.bd-red{
	border: 1px solid $c-red-0 !important;
}

/*其它公用*/

.fl {
    float: left
}

.fr {
    float: right
}

.tcenter {
    text-align: center
}
.tvcenter {
    vertical-align: middle;
    > *{
    	vertical-align: middle;
    }
}

.tleft {
    text-align: left
}

.tright {
    text-align: right
}

.ttop {
    vertical-align: top;
}

.tvsub {
    vertical-align: sub;
    *vertical-align: bottom;
}

.block {
    display: block
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative
}
.fixed{
	position: fixed !important;
}

/*边距 填充*/
.no-mb{
    margin-bottom: 0 !important;
}
.mt0{
	margin-top: 0 !important;
}
.mb0{
	margin-bottom: 0 !important;
}
.mt3{
    margin-top: 3px;
}
.mb3{
    margin-bottom:3px;
}
.mt5{
    margin-top: 5px;
}
.mb5{
    margin-bottom: 5px;
}
.ml5{
    margin-left: 5px !important;
}
.mr5{
    margin-right: 5px;
}
.mt10{
	margin-top: 10px !important;
}
.mr10{
	margin-right: 10px !important;
}
.mb10{
	margin-bottom: 10px !important;
}
.ml10{
	margin-left: 10px !important;
}
.mr10{
    margin-right: 10px;
}
.ml15{
	margin-left: 15px !important;
}
.mt15{
    margin-top:15px;
}
.mb15{
	margin-bottom: 15px !important;
}
.mt20{
    margin-top: 20px !important;
}
.ml20{
    margin-left: 20px;
}
.mr20{
    margin-right: 20px;
}
.mb30{
	margin-bottom: 30px;
}
.mt50{
	margin-top: 50px;
}
.ml50{
	margin-left: 50px !important;
}
.mt100{
	margin-top: 100px !important;
}
.pt0{
	padding-top: 0 !important;
}
.pd0{
	padding: 0 !important;
}

.pb0{
	padding-bottom: 0 !important;
}


.plr5{
	padding: 0 5px !important;
}
.pt5{
    padding-top: 5px;
}
.pb5{
    padding-bottom: 5px;
}
.pl5{
    padding-left: 5px;
}
.pt10{
    padding-top:10px !important;
}
.pb10{
    padding-bottom: 10px !important;
}
.pl10{
    padding-left:10px !important;
}
.pr10{
    padding-right: 10px !important;
}
.pd10{
	padding: 10px !important;
}
.pl0{
    padding-left:0px !important;} 
.ptb10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.ptb15{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.plr10{
    padding: 0 10px !important;
}
.pd10{
	padding: 10px !important;
}
.pt15{
	padding-top: 15px !important;
}
.plr15{
    padding: 0 15px !important;
}
.pt20{
    padding-top: 20px !important;
}
.pb20{
    padding-bottom: 20px !important;
}
.pr20{
    padding-right: 20px !important;
}
.pl20{
	padding-left: 20px !important;
}
.plr20{
    padding: 0 20px !important;
}
.pt50{
    padding-top:50px !important;
}
.w50p{
	width: 50% !important;
}
.w20p{
    width: 20%;
}
.w95p{
	width: 95% !important;
}
.w100{
	width: 100px !important;
}
.w100p{
	width: 100% !important;
}
